$background: #263238;
$backgroundLight: #4f5b62;
$backgroundDark: #000a12;

$foreground: #eceff1;
$foregroundLight: #fff;
$foregroundDark: #babdbe;

$primary: #6a1b9a;
$primaryLight: #9c4dcc;
$primaryDark: #38006b;

$alert: #f14235;
$warning: #f5a623;
$success: #7bbb44;
$info: #3c82fa;