$black: #1d1d1b; // from official basic rules pdf | body color
$red: #9c2c1c;
$darkRed: #58180d; // from official basic rules pdf | h color
$lightGold: #dbc592;
$gold: #c9ad6a; // from official basic rules pdf | h lines
$lightGray: #d6d8cf; // from official basic rules pdf | h1 font-border

$monsterFawn: #f9f4db; // from dndbeyond | monster background

$phbIntroFawn: #fcf8ed; // from official basic rules pdf
$phbCharacterGreen: #e0e5c1; // from official basic rules pdf
$phbGameBlue: #d2ead4;
$phbMagicLilac: #e8e1e7;
$phbAppendixBrown: #efe3c0;
