<div class="center">
  <div class="password-reset">
    <heading>{{ $t("password-reset.header") }}</heading>
    <div class="password-reset-form">
      <input-field type="password" v-model="v$.password.$model" :placeholder="$t('login-register.register.password')"
        :hint="$t('login-register.register.password')" hide-hint-if-empty />
      <ul v-if="v$.password.$error" class="form-errors">
        <li v-for="error of v$.password.$errors" :key="error.$uid" class="form-error">
          {{ $t("login-register.register.error." + error.$property + "." + error.$validator) }}
        </li>
      </ul>
      <input-field type="password" v-model="v$.repeatedPassword.$model"
        :placeholder="$t('login-register.register.repeatedPassword')" :hint="$t('login-register.register.repeatedPassword')"
        hide-hint-if-empty />
      <ul v-if="v$.repeatedPassword.$error" class="form-errors">
        <li v-for="error of v$.repeatedPassword.$errors" :key="error.$uid" class="form-error">
          {{ $t("login-register.register.error." + error.$property + "." + error.$validator) }}
        </li>
      </ul>
    </div>
    <footer class="footer">
      <btn class="password-reset-button" @click="changePassword" full-width :disabled="hasErrors">
        {{ $t("password-reset.button") }}
      </btn>
    </footer>
  </div>
</div>