.center {
  width: 100%;
}

.password-reset {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  width: auto;
  max-width: 400px;
  height: auto;
  padding: 2rem;
  border-radius: var(--border-radius);

  &-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;

    .form-errors {
      margin: 0;
      padding: 0;
      list-style: none;
      color: var(--color-alert);
      font-size: 0.8em;

      > .form-error {
        margin-top: 0.5em;
      }
    }
  }
}