.editable-password,
.non-editable-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editable-password--button {
  cursor: pointer;
  color: var(--color-foreground);
  font-size: 0.8em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  width: 2em;
  aspect-ratio: 1/1;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary--dark);
  outline: none;

  &:hover {
    color: var(--color-foreground-dark);
    background-color: var(--color-primary--light);
    border: 1px solid var(--color-primary);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-background--light);
    border-color: var(--color-background--dark);

    &:hover {
      background-color: var(--color-background--light);
      border-color: var(--color-background--dark);
    }
  }
}

.non-editable-password--actions {
  display: flex;
  gap: 0.5em;
}

.passwords {
  display: flex;
  flex-direction: column;

  .form-errors {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--color-alert);
    font-size: 0.8em;

    > .form-error {
      margin-top: 0.5em;
    }
  }
}