<div class="editable-password--wrapper">
  <div class="non-editable-password" v-if="editable">
    <div class="passwords">
      <input-field v-model="v$.password.$model" type="password" :placeholder="$t('profile.table.password.placeholder.password')" />
      <ul v-if="v$.password.$error" class="form-errors">
        <li v-for="error of v$.password.$errors" :key="error.$uid" class="form-error">
          {{ $t("login-register.register.error." + error.$property + "." + error.$validator) }}
        </li>
      </ul>
      <input-field v-model="v$.repeatedPassword.$model" type="password" :placeholder="$t('profile.table.password.placeholder.repeatedPassword')" />
      <ul v-if="v$.repeatedPassword.$error" class="form-errors">
        <li v-for="error of v$.repeatedPassword.$errors" :key="error.$uid" class="form-error">
          {{ $t("login-register.register.error." + error.$property + "." + error.$validator) }}
        </li>
      </ul>
    </div>
    <div class="non-editable-password--actions">
      <button class="editable-password--button" @click="save" :disabled="hasErrors">
        <font-awesome-icon icon="check" />
      </button>
      <button class="editable-password--button" @click="cancel">
        <font-awesome-icon icon="times" />
      </button>
    </div>
  </div>
  <div class="editable-password" v-else>
    <span class="editable-password-entry">
      {{ $t("profile.table.password.value") }}
    </span>
    <button class="editable-password--button" @click="editable = true">
      <font-awesome-icon icon="edit" />
    </button>
  </div>
</div>