.save-document {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-content {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin-bottom: 1rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px -10px;

    &>button {
      flex-grow: 0;
    }
  }
}

.m-0 {
  margin: 0;
}